{% load staticfiles %}
{% load i18n %}
{% load account %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Post a job position or create your online resume by TheJobs!">
    <meta name="keywords" content="">
    <title>{% block title %} {% endblock %}</title>
    <!-- Styles -->
    <link href="{% static 'assets/css/app.min.css' %}" rel="stylesheet">
    <link href="{% static 'assets/vendors/summernote/summernote.css' %}" rel="stylesheet">
    <link href="{% static 'assets/css/thejobs.css' %}" rel="stylesheet">
    <link href="{% static 'assets/css/custom.css' %}" rel="stylesheet">

    <link rel="icon" href="{% static 'assets/img/cropped-favicon1-32x32.png' %}" sizes="32x32" />
    <link rel="icon" href="{% static 'assets/img/cropped-favicon1-192x192.png' %}" sizes="192x192" />
    <link rel="apple-touch-icon-precomposed" href="{% static 'assets/img/cropped-favicon1-180x180.png' %}">
    <meta name="msapplication-TileImage" content="{% static 'assets/img/cropped-favicon1-270x270.png' %}">
    <!-- Fonts -->
    <link href='https://fonts.googleapis.com/css?family=Oswald:100,300,400,500,600,800%7COpen+Sans:300,400,500,600,700,800%7CMontserrat:400,700' rel='stylesheet' type='text/css'>
    <!-- Favicons -->
  </head>

  <body class="login-page">
    <main>
    {% include 'yandex_metrika_main.html' %}
      <div class="login-block">
        <img src="{% static 'img/logo_blue_empty.png' %}"  alt="" style="max-height: 60px;">
        {% block content %} {% endblock %}
        
      </div>

    </main>


    <!-- Scripts -->
    <script src="assets/js/app.min.js"></script>
    <script src="assets/js/custom.js"></script>

  </body>
</html>
