{% load staticfiles %}
<footer class="site-footer">

      <!-- Top section -->
      <div class="container">
        <div class="row">
          <div class="col-sm-12 col-md-6">
            <h6 style="font-family: Arial">Что такое Keystone</h6>
            <p class="text-justify">Keystone – крупнейшее некоммерческое студенческое сообщество в сфере финансов в Москве и в России на базе Высшей школы экономики. Мы помогаем студентам и недавним выпускникам построить успешную карьеру. С 2011 г. мы организовали более 150 встреч с ведущими компаниями и экспертами, а также опубликовали более 100 вакансий.</p>
          </div>

          <div class="col-xs-6 col-md-3">
            <h6 style="font-family: Arial">Информация</h6>
            <ul class="footer-links">
              <li><a href=" {% url 'about' %} ">Команда</a></li>
              <li><a href=" {% url 'event_articles' %} ">Мероприятия</a></li>
              <li><a href=" {% url 'vacancy_articles' %} ">Вакансии</a></li>
              <li><a href=" {% url 'developing' %} ">Материалы</a></li>
              <li><a href=" {% url 'why' %} ">Миссия</a></li>
            </ul>
          </div>

          <div class="col-xs-6 col-md-3">
            <h6 style="font-family: Arial; text-align: center; margin-right: 27px;">Социальные сети</h6>
            <ul class="social-icons">
              <li><a class="vkontakte" href="https://vk.com/keystone"><i class="fa fa-vk"></i></a></li>
              <li><a class="facebook" href="https://www.facebook.com/Keystone-141630165887576"><i class="fa fa-facebook"></i></a></li>
              <li><a class="twitter" href="https://twitter.com/KeystoneSociety"><i class="fa fa-twitter"></i></a></li>
              <li><a class="linkedin" href="https://www.linkedin.com/company/keystone-society"><i class="fa fa-linkedin"></i></a></li>
              <li><a class="instagram" href="https://www.instagram.com/keystone_official/"><i class="fa fa-instagram"></i></a></li>
            </ul>
          </div>
        </div>

      <hr>
      </div>
      <!-- END Top section -->

      <!-- Bottom section -->
      <div class="container">
        <div class="row">
          <div class="col-md-12 col-sm-12 col-xs-12">
            <p class="copyright-text" style="text-align:center">
              Copyrights © 2016 All Rights Reserved by <a href='/'>Keystone Society</a>.</p> <br>
          </div>
        </div>
      </div>
      <!-- END Bottom section -->

</footer>
<!-- END Site footer -->