 {% load staticfiles %}
<!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery.min.js"><\/script>')</script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script> -->
    <!-- <script src="{% static 'assets/js/app.min.js' %}"></script>
    <script src="{% static 'assets/js/custom.js' %}"></script> -->
    <script src="assets/js/app.min.js"></script>
    <script src="assets/vendors/summernote/summernote.min.js"></script>
    <script src="assets/js/thejobs.js"></script>
    <script src="assets/js/custom.js"></script>
    <!-- <script src="{% static 'assets/js/thejobs.js' %}"></script> -->

    <!-- <script src="{% static 'TheJobs_files/app.js' %}"></script>
    <script src="{% static 'TheJobs_files/custom.js' %}"></script>
    <script src="{% static 'TheJobs_files/thejobs.js' %}"></script> -->
    <!-- <script src="{% static 'assets/vendors/jquery.countTo.js' %}"></script>
    <script src="{% static 'assets/vendors/jquery.highlight.js' %}"></script>
    <script src="{% static 'assets/vendors/jquery.mousewheel.min.js' %}"></script>
    <script src="{% static 'assets/vendors/matchHeight.min.js' %}"></script>
    <script src="{% static 'assets/vendors/smothscroll.js' %}"></script> -->

    <!-- <script src="{% static 'assets/vendors/jquery.min.js' %}"></script>
    <script src="{% static 'assets/vendors/jquery2.min.js' %}"></script>
    <script src="{% static 'assets/vendors/bootstrap-tagsinput.min.js' %}"></script>
    <script src="{% static 'assets/vendors/bootstrap/js/bootstrap.js' %}"></script> -->
    <!-- <script src="{% static 'assets/vendors/summernote/summernote.js' %}"></script> -->
    <!-- <script src="{% static 'assets/vendors/summernote/summernote.min.js' %}"></script> -->
    <!-- <script src="{% static 'assets/vendors/bootstrap/js/bootstrap.min.js' %}"></script> -->

    <!-- <script src="{% static 'assets/vendors/bootstrap-select/bootstrap-select.min.js' %}"></script>
    <script src="{% static 'assets/vendors/bootstrap-offcanvas/dist/js/bootstrap.offcanvas.js' %}"></script>
    <script src="{% static 'assets/vendors/bootstrap-offcanvas/dist/js/bootstrap.offcanvas.min.js' %}"></script> -->
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <!-- <script src="{% static 'js/ie10-viewport-bug-workaround.js' %}"></script> -->