{% extends "base.html" %}
{% load staticfiles %}

{% block imageheader %}{% static 'img/Themes/5.jpg' %}{% endblock %}

{% block header %}
<div class="col-xs-12">
          <h1>Keystone </h1>
          <h1>Key to extraordinary success </h1>
          <h5 class="font-alt">Что такое Keystone и почему мы</h5>
          <br>
        </div>
{% endblock %}

{% block content %}

<main id="faq-result">

      <section class="bg-alt">
        <div class="container">
          <header class="section-header text-left">
            <h3 style="text-transform: none;">Keystone – крупнейшее некоммерческое студенческое сообщество в сфере финансов в Москве и в России на базе Высшей школы экономики</h3>
          </header>

          <ul class="faq-items">
              
    <div class="container">
        <div class="row">
            
            <div class="counter col-md-4 col-sm-6">
              <p><span data-from="0" data-to="6890" class="counted-before" style="color: #373a3c; font-size: 36px;">150+</span></p>
              <h6>Мероприятий</h6>
            </div>

            <div class="counter col-md-4 col-sm-6">
              <p><span data-from="0" data-to="1200" class="counted-before" style="color: #373a3c; font-size: 36px;">8500+</span></p>
              <h6>Участников</h6>
            </div>

            <div class="counter col-md-4 col-sm-6">
              <p><span data-from="0" data-to="36800" class="counted-before" style="color: #373a3c; font-size: 36px;">100+</span></p>
              <h6>Вакансий</h6>
            </div>
            
        </div>
    </div>
              
              
            <li>
              <h5>Крупнейшее специализированное сообщество</h5>
              <p>Keystone – это сообщество выпускников и студентов НИУ ВШЭ, которые обладают обширным опытом в организации мероприятий для студентов с участием российских и иностранных компаний.</p>
            </li>

            <li>
              <h5>Развитые отношения с ведущими компаниями</h5>
              <p>Начиная с 2011 года, мы организовали более 150 мероприятий (мастер-классов, презентаций компаний, рекрутинговых кампаний, конкурсов и лекций) с участием представителей ведущих компаний финансового сектора (инвестиционных и коммерческих банков, рейтинговых агентств, венчурных и PE фондов)</p>
            </li>

            <li>
              <h5>Успешный опыт по подбору персонала</h5>
              <p>Мы помогли в проведении 11 успешных рекрутинговых кампаний для инвестиционных и коммерческих банков (Renaissance Capital, Unicredit, Nordea Bank, Citi), венчурных фондов и фондов прямых инвестиций (RDIF, Open Capital, Frontier Ventures) и стартапов (GoodRocket, Elementaree)</p>
            </li>
          </ul>
        </div>
      </section>
    </main>

{% endblock %}